.full-container-list-auction{
    margin-bottom: 88px;
    margin-top: 50px;
}

.full-container-of-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.container-of-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: aquamarine;
}

.full-container-render-auction{
    padding: 24px 12px;
}